In [1]:
import pandas as pd

# COVID-19 data

In [2]:
data = pd.read_csv('output_data/time_series/ts-long.csv')

In [ ]:
years = ["1952", "1962", "1967", "1972", "1977", "1982", "1987", "1992", "1997", "2002",
         "2007"]

# make list of continents
continents = []
for continent in dataset["continent"]:
    if continent not in continents:
        continents.append(continent)
# make figure
fig_dict = {
    "data": [],
    "layout": {},
    "frames": []
}

In [135]:
# Right format
# https://raw.githubusercontent.com/plotly/datasets/master/gapminderDataFiveYear.csv
tbl.reset_index()

    Date_Confirmed        Region     total    daily
0       15-02-2020  Korea, South      28.0      0.0
1       15-02-2020            US      13.0      0.0
2       16-02-2020  Korea, South      29.0      1.0
3       16-02-2020            US      13.0      0.0
4       17-02-2020  Korea, South      30.0      1.0
..             ...           ...       ...      ...
174     17-04-2020  Korea, South   10635.0     22.0
175     17-04-2020            US  699706.0  32114.0
176     18-04-2020        Mexico    6875.0    578.0
177     18-04-2020  Korea, South   10653.0     18.0
178     18-04-2020            US  732197.0  32491.0

[179 rows x 4 columns]