In [1]:
import pandas as pd
import numpy as np

# COVID-19

In [2]:
# Total cases

In [3]:
world_total = pd.read_csv('time_series/total-world-covid19.csv')
world_total['Date_Confirmed'] = pd.DatetimeIndex(world_total['Date_Confirmed'])
world_total = world_total[['Date_Confirmed','US','United Kingdom','Switzerland','Korea, South','Italy','India','Australia','Mexico']]

In [4]:
# Daily cases

In [5]:
world_daily = pd.read_csv('time_series/daily-world_covid19.csv')
world_daily['Date_Confirmed'] = pd.DatetimeIndex(world_daily['Date_Confirmed'])
world_daily = world_daily[['Date_Confirmed','US','United Kingdom','Switzerland','Korea, South','Italy','India','Australia','Mexico']]

In [6]:
world_daily

,Date_Confirmed,US,United Kingdom,Switzerland,"Korea, South",Italy,India,Australia,Mexico
0,2020-01-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-01-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-01-24,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,2020-01-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-01-26,3.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
100,2020-05-01,34037.0,564.0,119.0,6.0,1965.0,2394.0,1.0,1515.0
101,2020-05-02,29078.0,438.0,112.0,13.0,1900.0,2442.0,3.0,1349.0
102,2020-05-03,25501.0,395.0,88.0,8.0,1389.0,2806.0,3.0,1383.0
103,2020-05-04,22335.0,362.0,76.0,3.0,1221.0,3932.0,3.0,1434.0
104,2020-05-05,23976.0,401.0,28.0,2.0,1075.0,2963.0,3.0,1120.0

In [7]:
# Process

In [8]:
total = world_total
total = total.fillna(method='ffill') # First fill missing time series totals with previous row value
#total = total.replace(0, np.nan) # Now convert 0 to NaN

daily = world_daily

In [9]:
# Make sure datetimes are correct

In [10]:
    # Total
total['Date_Confirmed'] = pd.to_datetime(total.Date_Confirmed, format='%Y-%m-%d', errors='coerce')
total = total.set_index(pd.DatetimeIndex(total['Date_Confirmed']))

    # Daily
daily['Date_Confirmed'] = pd.to_datetime(daily.Date_Confirmed, format='%Y-%m-%d', errors='coerce')
daily = daily.set_index(pd.DatetimeIndex(daily['Date_Confirmed']))

In [11]:
# Apply rolling window

In [12]:
total = total.dropna().rolling(window=7).mean().round().reset_index()
daily = daily.dropna().rolling(window=7).mean().round().reset_index()

In [13]:
# Rename index

In [14]:
total = total.rename(columns={'index':'Date_Confirmed'})
daily = daily.rename(columns={'index':'Date_Confirmed'})

In [15]:
#Â Melt to long format

In [16]:
tbl_total = pd.DataFrame(total.set_index(['Date_Confirmed']).rename_axis(['Region'], axis=1).stack())

In [17]:
tbl_daily = pd.DataFrame(daily.set_index(['Date_Confirmed']).rename_axis(['Region'], axis=1).stack())

In [18]:
tbl = pd.merge(tbl_total, tbl_daily, how='inner', on=['Date_Confirmed', 'Region'])

In [19]:
tbl

                                    0_x     0_y
Date_Confirmed Region
2020-01-28     US                   3.0     1.0
               United Kingdom       0.0     0.0
               Switzerland          0.0     0.0
               Korea, South         2.0     0.0
               Italy                0.0     0.0
...                                 ...     ...
2020-05-05     Korea, South     10789.0     6.0
               Italy           208783.0  1644.0
               India            40460.0  2582.0
               Australia          851.0     2.0
               Mexico           22036.0  1325.0

[792 rows x 2 columns]

In [20]:
tbl = tbl.rename(columns={'0_x': 'total', '0_y': 'daily'})

In [21]:
tbl.head()

                               total  daily
Date_Confirmed Region
2020-01-28     US                3.0    1.0
               United Kingdom    0.0    0.0
               Switzerland       0.0    0.0
               Korea, South      2.0    0.0
               Italy             0.0    0.0

In [22]:
# Convert format to fit this plotly express template (long, instead of wide):
# https://plotly.com/python/animations/#using-a-slider-and-buttons
# https://raw.githubusercontent.com/plotly/datasets/master/gapminderDataFiveYear.csv
tbl_long = tbl.reset_index()
tbl_long.to_csv('time_series/rolling-time-series.csv', index=False)

In [23]:
tbl_long

    Date_Confirmed          Region     total   daily
0       2020-01-28              US       3.0     1.0
1       2020-01-28  United Kingdom       0.0     0.0
2       2020-01-28     Switzerland       0.0     0.0
3       2020-01-28    Korea, South       2.0     0.0
4       2020-01-28           Italy       0.0     0.0
..             ...             ...       ...     ...
787     2020-05-05    Korea, South   10789.0     6.0
788     2020-05-05           Italy  208783.0  1644.0
789     2020-05-05           India   40460.0  2582.0
790     2020-05-05       Australia     851.0     2.0
791     2020-05-05          Mexico   22036.0  1325.0

[792 rows x 4 columns]