In [29]:
import functools
import glob
import os
import pandas as pd
import numpy as np

# Data

### Global data (CSSE)

Cumulative

In [137]:
world = pd.concat(map(functools.partial(pd.read_csv), glob.glob('data/csse_covid19_daily_reports/*.csv')), sort=True)

In [138]:
# Date col names changed at some point
country_cols = ['Country/Region', 'Country_Region']
world['Country'] = world[country_cols].apply(lambda x: ','.join(x.dropna()), axis=1)

In [139]:
# Subset countries for comparison (and run stuff quick)
world = world[world['Country'].isin(['Mainland China', 'South Korea', 'Italy', 'US', 'Mexico'])]

In [140]:
# Country col names changed at some point
date_cols = ['Last Update', 'Last_Update']
world['Last_Updated'] = world[date_cols].apply(lambda x: ','.join(x.dropna()), axis=1)

In [141]:
# Set date index
world = world.set_index(pd.DatetimeIndex(world['Last_Updated'])).sort_index() # Set ascending date

In [142]:
# Clean up
world = world.drop(['Last_Updated'], axis=1)

In [143]:
# Resample by daily and group by country
world = world.groupby('Country').resample('D').mean().round()

In [147]:
# Subset
world = world[['Confirmed']]

### Tables

Pivot and transpose

In [156]:
df_world = world.reset_index().pivot('Country','Last_Updated','Confirmed').rename_axis(None).T

In [157]:
df_world

                Italy  Mainland China  Mexico  South Korea    US
Last_Updated
2020-01-22        NaN            24.0     NaN          1.0   1.0
2020-01-23        NaN            23.0     NaN          1.0   1.0
2020-01-24        NaN            32.0     NaN          2.0   1.0
2020-01-25        NaN            47.0     NaN          2.0   1.0
2020-01-26        NaN            69.0     NaN          3.0   1.0
...               ...             ...     ...          ...   ...
2020-03-25    74386.0             NaN   405.0          NaN  21.0
2020-03-26    80589.0             NaN   475.0          NaN  26.0
2020-03-27    86498.0             NaN   585.0          NaN  32.0
2020-03-28    92472.0             NaN   717.0          NaN  38.0
2020-03-29    97689.0             NaN   848.0          NaN  44.0

[68 rows x 5 columns]

### Mexico Data (Secretaría de Salud)

Cumulative

In [41]:
mexico = pd.read_csv('data/time_series/mexico_total_daily_cases.csv')

In [42]:
mexico = mexico.set_index(pd.DatetimeIndex(mexico['Date_Confirmed'])).sort_index()

In [43]:
mexico.drop('Date_Confirmed', axis=1, inplace=True)

In [44]:
mexico['Mexico'] = mexico.sum(axis=1)

In [56]:
df_mexico = mexico[['CIUDAD DE MÉXICO', 'JALISCO', 'NUEVO LEÓN', 'Mexico']]

In [159]:
df_mexico.tail()

                CIUDAD DE MÉXICO  JALISCO  NUEVO LEÓN  Mexico
Date_Confirmed
2020-03-28                 178.0     83.0         NaN   681.0
2020-03-29                 197.0     84.0        67.0   912.0
2020-03-30                 206.0     91.0        75.0   981.0
2020-03-31                 234.0     95.0        76.0  1125.0
2020-04-01                 298.0    101.0        78.0  1305.0

In [ ]:
df.iloc[:,0:2]