In [74]:
import pandas as pd

In [75]:
# Old data format

In [93]:
df5 = pd.read_csv('covid_mex_20200405.csv')
df5 = df5.drop(['Date_Arrival'], axis=1)

In [94]:
# New data format starts here

In [95]:
df6 = pd.read_csv('../data/mexico_covid_19_data/csv/raw_covid_mex_20200406.csv')
#df6 = df6.drop(['Case_ID'], axis=1)
df6['Origin'].fillna('Contacto', inplace=True)

In [96]:
out6 = df6.append(df5)
out6 = out6[~combined.index.duplicated(keep=False)]
out6['Date_Confirmed'] = '06/04/2019'
pd.concat([df5, out6], sort=True).to_csv('covid_mex_20200406.csv', index=False)

In [99]:
df5

,Case_ID,Region,Sex,Age,Date_Symptoms,Tested,Origin,Date_Confirmed
0,1,CIUDAD DE MÉXICO,M,35.0,22/02/2020,Confirmado,Italia,NaN
1,2,SINALOA,M,41.0,22/02/2020,Confirmado,Italia,NaN
2,3,CIUDAD DE MÉXICO,M,59.0,23/02/2020,Confirmado,Italia,NaN
3,4,COAHUILA,F,20.0,27/02/2020,Confirmado,Italia,NaN
4,5,CHIAPAS,F,18.0,25/02/2020,Confirmado,Italia,NaN
...,...,...,...,...,...,...,...,...
2139,2140,CIUDAD DE MÉXICO,F,68,20/03/2020,Confirmado,Contacto,05/04/2020
2140,2141,CIUDAD DE MÉXICO,M,34,20/03/2020,Confirmado,Contacto,05/04/2020
2141,2142,CIUDAD DE MÉXICO,F,65,21/03/2020,Confirmado,Contacto,05/04/2020
2142,2143,CIUDAD DE MÉXICO,M,60,22/03/2020,Confirmado,Contacto,05/04/2020
2143,2144,CIUDAD DE MÉXICO,M,49,19/03/2020,Confirmado,Contacto,05/04/2020

In [42]:
pd.concat([df5, raw6, raw6]).drop_duplicates(keep=False)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Age,Date_Confirmed,Date_Symptoms,Origin,Region,Sex,Tested
0,35.0,2/27/2020,2/22/2020,Italia,CIUDAD DE MÉXICO,M,confirmado
1,41.0,2/28/2020,2/22/2020,Italia,SINALOA,M,confirmado
2,59.0,2/29/2020,2/23/2020,Italia,CIUDAD DE MÉXICO,M,confirmado
3,20.0,2/29/2020,2/27/2020,Italia,COAHUILA,F,confirmado
4,18.0,3/1/2020,2/25/2020,Italia,CHIAPAS,F,confirmado
...,...,...,...,...,...,...,...
1505,56.0,02/04/2020,23/03/2020,Contacto,GUERRERO,M,Confirmado
1506,67.0,02/04/2020,20/03/2020,Contacto,CIUDAD DE MÉXICO,F,Confirmado
1507,39.0,02/04/2020,17/03/2020,Contacto,CIUDAD DE MÉXICO,M,Confirmado
1508,31.0,02/04/2020,30/03/2020,Contacto,QUINTANA ROO,M,Confirmado
1509,68.0,02/04/2020,31/03/2020,Estados Unidos,JALISCO,M,Confirmado

In [8]:
len(raw6)

2439

In [27]:
df = pd.merge(df5, raw6, how='outer', indicator=True)

In [28]:
df.loc[df._merge == 'left_only']

,Case_ID,Region,Sex,Age,Date_Symptoms,Tested,Origin,Date_Confirmed,_merge
0,0,CIUDAD DE MÉXICO,M,35.0,2/22/2020,confirmado,Italia,2/27/2020,left_only
1,1,SINALOA,M,41.0,2/22/2020,confirmado,Italia,2/28/2020,left_only
2,2,CIUDAD DE MÉXICO,M,59.0,2/23/2020,confirmado,Italia,2/29/2020,left_only
3,3,COAHUILA,F,20.0,2/27/2020,confirmado,Italia,2/29/2020,left_only
4,4,CHIAPAS,F,18.0,2/25/2020,confirmado,Italia,3/1/2020,left_only
...,...,...,...,...,...,...,...,...,...
1505,1505,GUERRERO,M,56.0,23/03/2020,Confirmado,Contacto,02/04/2020,left_only
1506,1506,CIUDAD DE MÉXICO,F,67.0,20/03/2020,Confirmado,Contacto,02/04/2020,left_only
1507,1507,CIUDAD DE MÉXICO,M,39.0,17/03/2020,Confirmado,Contacto,02/04/2020,left_only
1508,1508,QUINTANA ROO,M,31.0,30/03/2020,Confirmado,Contacto,02/04/2020,left_only
1509,1509,JALISCO,M,68.0,31/03/2020,Confirmado,Estados Unidos,02/04/2020,left_only

In [197]:
pd.merge(raw6,df5, indicator=True, how='outer').query('_merge=="left_only"').drop('_merge', axis=1)

,Case_ID,Region,Sex,Age,Date_Symptoms,Tested,Origin,Date_Confirmed
0,1.0,AGUASCALIENTES,F,31,23/03/2020,Confirmado,Contacto,NaN
1,2.0,MEXICO,M,21,20/03/2020,Confirmado,Contacto,NaN
2,3.0,COAHUILA,M,40,25/03/2020,Confirmado,Contacto,NaN
3,4.0,CHIHUAHUA,M,27,19/03/2020,Confirmado,Contacto,NaN
4,5.0,SONORA,F,45,15/03/2020,Confirmado,Contacto,NaN
...,...,...,...,...,...,...,...,...
2435,2435.0,QUINTANA ROO,F,30,29/03/2020,Confirmado,Contacto,NaN
2436,2436.0,JALISCO,M,25,17/03/2020,Confirmado,Estados,NaN
2437,2437.0,JALISCO,F,34,21/03/2020,Confirmado,Contacto,NaN
2438,2438.0,TABASCO,M,59,26/03/2020,Confirmado,Contacto,NaN
2439,2439.0,TABASCO,F,24,15/03/2020,Confirmado,Contacto,NaN

In [185]:
raw6['kill'] = 'yes'

In [190]:
old = df5.merge(raw6, on=['Region','Sex','Age','Date_Symptoms','Tested','Origin'], how='left')

In [192]:
old.to_csv('test.csv')

In [198]:
lol = raw6.loc[raw6.set_index(list(raw6.columns)).index.isin(df5.set_index(list(df5.columns)).index)]

In [199]:
lol

Empty DataFrame
Columns: [Case_ID, Region, Sex, Age, Date_Symptoms, Tested, Origin]
Index: []

In [175]:
old.to_csv('test.csv')

In [174]:
len(old6)

1510

In [123]:
#raw6['Type'] = 'remove'
#old6['Type'] = 'remove'

In [181]:
old = raw6.merge(df5, on=['Region','Sex','Age','Date_Symptoms','Tested','Origin','Date_Confirmed'], how='left')

KeyError: 'Date_Confirmed'

In [179]:
old.to_csv('test.csv')

In [136]:
new.Date_Confirmed.isnull().sum()

AttributeError: 'DataFrame' object has no attribute 'Date_Confirmed'

In [81]:
#new = df6[~df6.Type.str.contains('remove')]

In [94]:
new = old6.merge(raw6, how='left', indicator=True) # adds a new column '_merge'
new = new[(new['_merge'] == 'left_only')].copy() #rows only in df1 and not df2

In [95]:
new

,Region,Sex,Age,Date_Symptoms,Tested,Origin,Date_Confirmed,Case_ID,_merge
0,CIUDAD DE MÉXICO,M,35.0,2/22/2020,confirmado,Italia,2/27/2020,NaN,left_only
1,SINALOA,M,41.0,2/22/2020,confirmado,Italia,2/28/2020,NaN,left_only
2,CIUDAD DE MÉXICO,M,59.0,2/23/2020,confirmado,Italia,2/29/2020,NaN,left_only
3,COAHUILA,F,20.0,2/27/2020,confirmado,Italia,2/29/2020,NaN,left_only
4,CHIAPAS,F,18.0,2/25/2020,confirmado,Italia,3/1/2020,NaN,left_only
...,...,...,...,...,...,...,...,...,...
1503,AGUASCALIENTES,F,53.0,24/03/2020,Confirmado,Contacto,02/04/2020,NaN,left_only
1504,JALISCO,F,39.0,25/03/2020,Confirmado,Contacto,02/04/2020,NaN,left_only
1506,CIUDAD DE MÉXICO,F,67.0,20/03/2020,Confirmado,Contacto,02/04/2020,NaN,left_only
1507,CIUDAD DE MÉXICO,M,39.0,17/03/2020,Confirmado,Contacto,02/04/2020,NaN,left_only
1509,JALISCO,M,68.0,31/03/2020,Confirmado,Estados Unidos,02/04/2020,NaN,left_only

In [76]:
# Concat both dfs
new6 = pd.concat([old6, raw6], sort=True).drop_duplicates().reset_index(drop=True)

In [69]:
new = raw6.merge(old6, on=['Region','Sex','Age','Date_Symptoms','Tested','Origin'], how='left')

In [70]:
new.Date_Confirmed.isnull().sum()

2427

In [65]:
len(raw6)

2439

In [97]:
# Number of new cases
len(raw6) - len(df5)

929

In [98]:
# Substract old cases from new data (should match new cases)
len(raw6) - len(old6)

929

In [20]:
raw6[raw6.index.isin(new6.index)]

,Case_ID,Region,Sex,Age,Date_Symptoms,Tested,Origin,Type
0,1,AGUASCALIENTES,F,31,23/03/2020,Confirmado,Contacto,keep
1,2,MEXICO,M,21,20/03/2020,Confirmado,Contacto,keep
2,3,COAHUILA,M,40,25/03/2020,Confirmado,Contacto,keep
3,4,CHIHUAHUA,M,27,19/03/2020,Confirmado,Contacto,keep
4,5,SONORA,F,45,15/03/2020,Confirmado,Contacto,keep
...,...,...,...,...,...,...,...,...
2434,2435,QUINTANA ROO,F,30,29/03/2020,Confirmado,Contacto,keep
2435,2436,JALISCO,M,25,17/03/2020,Confirmado,Estados,keep
2436,2437,JALISCO,F,34,21/03/2020,Confirmado,Contacto,keep
2437,2438,TABASCO,M,59,26/03/2020,Confirmado,Contacto,keep
2438,2439,TABASCO,F,24,15/03/2020,Confirmado,Contacto,keep

In [222]:
df6[~df6.Type.str.contains('remove')].to_csv('test.csv')

In [223]:
test = df5.merge(raw6, on=['Region','Sex','Age','Date_Symptoms','Tested','Origin']).reset_index()

In [100]:
raw6['Origin'].fillna('Contacto', inplace=True)

In [101]:
common6 = df5.merge(raw6, on=['Region','Sex','Age','Date_Symptoms','Tested','Origin']).reset_index()

In [ ]:
df1[(~df1.col1.isin(common.col1))&(~df1.col2.isin(common.col2))]

In [92]:
df6 = df6[df6['Date_Confirmed'].notna()]

,index,Region,Sex,Age,Date_Symptoms,Tested,Origin,Date_Confirmed,Case_ID
0,0,GUANAJUATO,M,21.0,26/03/2020,Confirmado,España,NaN,1087
1,1,SINALOA,F,62.0,24/03/2020,Confirmado,Contacto,NaN,850
2,2,VERACRUZ,M,36.0,27/03/2020,Confirmado,Contacto,NaN,1252
3,3,BAJA CALIFORNIA SUR,F,79.0,23/03/2020,Confirmado,Contacto,NaN,2226
4,4,COAHUILA,F,43.0,26/03/2020,Confirmado,Contacto,NaN,538
5,5,CHIHUAHUA,M,35.0,24/03/2020,Confirmado,Contacto,NaN,1576
6,6,AGUASCALIENTES,F,39.0,26/03/2020,Confirmado,Contacto,02/04/2020,344
7,7,COAHUILA,F,10.0,28/03/2020,Confirmado,Contacto,NaN,1072
8,8,JALISCO,M,35.0,21/03/2020,Confirmado,Contacto,NaN,834
9,9,JALISCO,M,35.0,21/03/2020,Confirmado,Contacto,02/04/2020,834
10,10,OAXACA,M,43.0,29/03/2020,Confirmado,Contacto,NaN,310
11,11,COAHUILA,M,11.0,24/03/2020,Confirmado,Contacto,NaN,1074
12,12,TAMAULIPAS,M,65.0,25/03/2020,Confirmado,Contacto,02/04/2020,1342
13,13,HIDALGO,F,42.0,25/03/2020,Confirmado,Contacto,02/04/2020,1229
14,14,HIDALGO,M,47.0,26/03/2020,Confirmado,Contacto,02/04/2020,1100
15,15,GUERRERO,M,46.0,30/03/2020,Confirmado,Contacto,02/04/2020,790
16,16,COAHUILA,M,37.0,22/03/2020,Confirmado,Contacto,02/04/2020,1851
17,17,TABASCO,F,57.0,28/03/2020,Confirmado,Contacto,02/04/2020,160
18,18,JALISCO,M,42.0,27/03/2020,Confirmado,Contacto,02/04/2020,1719
19,19,ZACATECAS,M,54.0,23/03/2020,Confirmado,Contacto,02/04/2020,1521
20,20,AGUASCALIENTES,M,53.0,22/03/2020,Confirmado,Contacto,02/04/2020,1943
21,21,GUERRERO,M,56.0,23/03/2020,Confirmado,Contacto,02/04/2020,1858
22,22,QUINTANA ROO,M,31.0,30/03/2020,Confirmado,Contacto,02/04/2020,1870

In [82]:
df6['Date_Confirmed'].fillna('06/04/2020', inplace=True)

In [83]:
df6 = df6.rename(columns={'index':'Case_ID'})

In [87]:
df6.to_csv('covid_mex_20200406.csv', index=False)

In [88]:
len(df6)

23