In [20]:
import pandas as pd

In [28]:
# Valid until 05 march 2020

In [21]:
df1 = pd.read_csv('covid_mex_20200401.csv')

In [22]:
df2 = pd.read_csv('../data/mexico_covid_19_data/csv/raw_covid_mex_20200402.csv')
df3 = pd.read_csv('../data/mexico_covid_19_data/csv/raw_covid_mex_20200403.csv')
df4 = pd.read_csv('../data/mexico_covid_19_data/csv/raw_covid_mex_20200404.csv')
df5 = pd.read_csv('../data/mexico_covid_19_data/csv/raw_covid_mex_20200405.csv')

In [23]:
my_dfs = [df1, df2, df3, df4, df5]

for df in my_dfs:
    for column in df.columns:
        if 'Case_ID' in column:
            df.drop(column, axis = 1, inplace=True)

In [24]:
res2 = df1.combine_first(df2).reset_index()
res2 = res2.rename(columns={'index':'Case_ID'})
res2.to_csv('covid_mex_20200402.csv', index=False)

In [25]:
res3 = df2.combine_first(df3).reset_index()
res3 = res2.rename(columns={'index':'Case_ID'})
res3.to_csv('covid_mex_20200403.csv', index=False)

In [26]:
res4 = df3.combine_first(df4).reset_index()
res4 = res3.rename(columns={'index':'Case_ID'})
res4.to_csv('covid_mex_20200404.csv', index=False)

In [27]:
res5 = df4.combine_first(df5).reset_index()
res5 = res5.rename(columns={'index':'Case_ID'})
res5.to_csv('covid_mex_20200405.csv', index=False)

In [ ]:
# From 06 march onwards ...

In [29]:
df6 = pd.read_csv('../data/mexico_covid_19_data/csv/raw_covid_mex_20200406.csv')

In [34]:
res6 = df6.combine(df5).reset_index()

TypeError: combine() missing 1 required positional argument: 'func'

In [33]:
res6

,index,Age,Case_ID,Date_Arrival,Date_Confirmed,Date_Symptoms,Origin,Region,Sex,Tested
0,0,31.0,1,22/02/2020,NaN,23/03/2020,Italia,AGUASCALIENTES,FEMENINO,Confirmado
1,1,21.0,2,21/02/2020,NaN,20/03/2020,Italia,MEXICO,MASCULINO,Confirmado
2,2,40.0,3,22/02/2020,NaN,25/03/2020,Italia,COAHUILA,MASCULINO,Confirmado
3,3,27.0,4,25/02/2020,NaN,19/03/2020,Italia,CHIHUAHUA,MASCULINO,Confirmado
4,4,45.0,5,25/02/2020,NaN,15/03/2020,Italia,SONORA,FEMENINO,Confirmado
...,...,...,...,...,...,...,...,...,...,...
2437,2437,59.0,2438,NaN,NaN,26/03/2020,NaN,TABASCO,MASCULINO,Confirmado
2438,2438,24.0,2439,NaN,NaN,15/03/2020,NaN,TABASCO,FEMENINO,Confirmado
2439,2439,NaN,Fuente: SINAVE/DGE/InDRE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2440,2440,NaN,F: Femenino M: Masculino,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2441,2441,NaN,Corte: 6 de Abril del 2020 a las 13:00 horas,NaN,NaN,NaN,NaN,NaN,NaN,NaN