In [45]:
# Produces time series files for COVID-19 (until march 5, when mayor changes to reports were made).
# Before judging this mess, pleace note that daily report data is very inconsistent.
# So each report is treated as a case-by-case basis.

In [46]:
import pandas as pd
import numpy as np

In [47]:
# Boy, was I naive
# my_dfs = [df1, df2, df3, df4, df5]
# for df in my_dfs:
#     for column in df.columns:
#         if 'Case_ID' in column:
#             df.drop(column, axis = 1, inplace=True)

In [48]:
df1 = pd.read_csv('../data/mexico_covid_19_data/csv/raw_covid_mex_20200401.csv')
df1['Date_Confirmed'] = pd.to_datetime(df1.Date_Confirmed)
df1['Date_Confirmed'] = df1['Date_Confirmed'].dt.strftime('%m/%d/%Y')
df1['Date_Arrival'] = pd.to_datetime(df1.Date_Arrival)
df1['Date_Arrival'] = df1['Date_Arrival'].dt.strftime('%m/%d/%Y')
df1['Date_Arrival'] = df1['Date_Arrival'].replace('NaT', '') # https://stackoverflow.com/questions/58006366/change-nat-to-blank-in-pandas-dataframe
df1['Date_Symptoms'] = pd.to_datetime(df1.Date_Symptoms)
df1['Date_Symptoms'] = df1['Date_Symptoms'].dt.strftime('%m/%d/%Y')
df1.to_csv('mexico-covid19-2020-04-01.csv', index=False)

In [49]:
out1 = df1

In [50]:
df2 = pd.read_csv('../data/mexico_covid_19_data/csv/raw_covid_mex_20200402.csv')
df2 = df2.drop(['Case_ID'], axis=1)

In [51]:
df2

,Region,Sex,Age,Date_Symptoms,Tested,Origin,Date_Arrival,Date_Confirmed
0,CIUDAD DE MÉXICO,M,35,22/02/2020,Confirmado,Italia,22/02/2020,NaN
1,SINALOA,M,41,22/02/2020,Confirmado,Italia,21/02/2020,NaN
2,CIUDAD DE MÉXICO,M,59,23/02/2020,Confirmado,Italia,22/02/2020,NaN
3,COAHUILA,F,20,27/02/2020,Confirmado,Italia,25/02/2020,NaN
4,CHIAPAS,F,18,25/02/2020,Confirmado,Italia,25/02/2020,NaN
...,...,...,...,...,...,...,...,...
1505,GUERRERO,M,56,23/03/2020,Confirmado,Contacto,NaN,04/02/2020
1506,CIUDAD DE MÉXICO,F,67,20/03/2020,Confirmado,Contacto,NaN,04/02/2020
1507,CIUDAD DE MÉXICO,M,39,17/03/2020,Confirmado,Contacto,NaN,04/02/2020
1508,QUINTANA ROO,M,31,30/03/2020,Confirmado,Contacto,NaN,04/02/2020
1509,JALISCO,M,68,31/03/2020,Confirmado,Estados Unidos,23/03/2020,04/02/2020

In [52]:
out2 = df1.combine_first(df2).reset_index()
out2.index = np.arange(1, (len(out2)+1))
out2 = out2.reset_index()
out2 = out2.drop(['Case_ID'], axis=1)
out2 = out2.rename(columns={'level_0':'Case_ID'})
out2 = out2.drop(['index'], axis=1)
out2.Date_Confirmed = out2.Date_Confirmed.fillna('04/02/2020')
out2['Date_Arrival'] = out2['Date_Arrival'].replace('NaT', '')
out2 = out2[['Case_ID','Region','Sex','Age','Date_Symptoms','Tested','Origin','Date_Arrival','Date_Confirmed']]
out2[['Case_ID', 'Age']] = out2[['Case_ID', 'Age']].astype(int)
out2.to_csv('mexico-covid19-2020-04-02.csv', index=False)

In [53]:
out2

,Case_ID,Region,Sex,Age,Date_Symptoms,Tested,Origin,Date_Arrival,Date_Confirmed
0,1,CIUDAD DE MÉXICO,M,35,02/22/2020,confirmado,Italia,02/22/2020,02/27/2020
1,2,SINALOA,M,41,02/22/2020,confirmado,Italia,02/21/2020,02/28/2020
2,3,CIUDAD DE MÉXICO,M,59,02/23/2020,confirmado,Italia,02/22/2020,02/29/2020
3,4,COAHUILA,F,20,02/27/2020,confirmado,Italia,02/25/2020,02/29/2020
4,5,CHIAPAS,F,18,02/25/2020,confirmado,Italia,02/25/2020,03/01/2020
...,...,...,...,...,...,...,...,...,...
1505,1506,GUERRERO,M,56,23/03/2020,Confirmado,Contacto,NaN,04/02/2020
1506,1507,CIUDAD DE MÉXICO,F,67,20/03/2020,Confirmado,Contacto,NaN,04/02/2020
1507,1508,CIUDAD DE MÉXICO,M,39,17/03/2020,Confirmado,Contacto,NaN,04/02/2020
1508,1509,QUINTANA ROO,M,31,30/03/2020,Confirmado,Contacto,NaN,04/02/2020
1509,1510,JALISCO,M,68,31/03/2020,Confirmado,Estados Unidos,23/03/2020,04/02/2020

In [54]:
# Read csv files because:
# https://github.com/pandas-dev/pandas/issues/7509

In [55]:
out2 = pd.read_csv('mexico-covid19-2020-04-02.csv')

In [56]:
df3 = pd.read_csv('../data/mexico_covid_19_data/csv/raw_covid_mex_20200403.csv')
df3 = df3.drop(['Case_ID'], axis=1)

In [57]:
out3 = out2.combine_first(df3).reset_index()
out3.index = np.arange(1, (len(out3)+1))
out3 = out3.reset_index()
out3 = out3.drop(['Case_ID'], axis=1)
out3 = out3.rename(columns={'level_0':'Case_ID'})
out3 = out3.drop(['index'], axis=1)
out3 = out3[['Case_ID','Region','Sex','Age','Date_Symptoms','Tested','Origin','Date_Arrival','Date_Confirmed']]
out3[['Case_ID', 'Age']] = out3[['Case_ID', 'Age']].astype(int)
out3.Date_Confirmed = out3.Date_Confirmed.fillna('04/03/2020')
out3.to_csv('mexico-covid19-2020-04-03.csv', index=False)

In [59]:
out3 = pd.read_csv('mexico-covid19-2020-04-03.csv')

In [60]:
df4 = pd.read_csv('../data/mexico_covid_19_data/csv/raw_covid_mex_20200404.csv')
df4 = df4.drop(['Case_ID'], axis=1)

In [61]:
out4 = out3.combine_first(df4).reset_index()
out4.index = np.arange(1, (len(out4)+1))
out4 = out4.reset_index()
out4 = out4.drop(['Case_ID'], axis=1)
out4 = out4.rename(columns={'level_0':'Case_ID'})
out4 = out4.drop(['index'], axis=1)
out4 = out4[['Case_ID','Region','Sex','Age','Date_Symptoms','Tested','Origin','Date_Arrival','Date_Confirmed']]
out4[['Case_ID', 'Age']] = out4[['Case_ID', 'Age']].astype(int)
out4.Date_Confirmed = out4.Date_Confirmed.fillna('04/04/2020')
out4.to_csv('mexico-covid19-2020-04-04.csv', index=False)

In [62]:
out4 = pd.read_csv('mexico-covid19-2020-04-04.csv')

In [63]:
df5 = pd.read_csv('../data/mexico_covid_19_data/csv/raw_covid_mex_20200405.csv')
df5 = df5.drop(['Case_ID'], axis=1)

In [64]:
out5 = out4.combine_first(df5)
out5.index = np.arange(1, (len(out5)+1))
out5 = out5.reset_index()
out5 = out5.drop(['Case_ID'], axis=1)
out5 = out5.rename(columns={'index':'Case_ID'})
out5 = out5[['Case_ID','Region','Sex','Age','Date_Symptoms','Tested','Origin','Date_Arrival','Date_Confirmed']]
out5[['Case_ID']] = out5[['Case_ID']].astype(int)
out5.Age = pd.to_numeric(out5.Age, errors='coerce').fillna(0).astype(np.int64)
out5.Date_Confirmed = out5.Date_Confirmed.fillna('04/05/2020')
out5.to_csv('mexico-covid19-2020-04-05.csv', index=False)