In [59]:
import pandas as pd

In [60]:
data = pd.read_csv('confirmed_by_date.csv')

In [61]:
data

      Date_Confirmed  Region_ID Case_ID  Status
0         2020-01-06         18  09f6d9       1
1         2020-01-08         30  1c29f8       1
2         2020-01-27         15  1879e0       1
3         2020-02-07         11  03e780       1
4         2020-02-12          2  07b5c5       1
...              ...        ...     ...     ...
14034     2020-04-24         27  1add7e       1
14035     2020-04-24         29  06a593       1
14036     2020-04-24         29  06b382       1
14037     2020-04-24         29  09d6b7       1
14038     2020-04-24         29  1a0b7e       1

[14039 rows x 4 columns]

In [62]:
geo = pd.read_csv('../../data/dge/meta_data/entidades.csv')

In [63]:
geo.keys()

Index(['CLAVE_ENTIDAD', 'ENTIDAD_FEDERATIVA', 'ABREVIATURA'], dtype='object')

In [64]:
geo = geo.rename(columns={'CLAVE_ENTIDAD':'Region_ID', 'ENTIDAD_FEDERATIVA':'Region', 'ABREVIATURA':'Region_Key'})

In [70]:
result = pd.merge(data, geo, on='Region_ID')

In [73]:
result.to_csv('../../latest.csv')